@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Quicksand", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -200px;
  height: 200px;
  visibility: hidden;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

@media (max-width: 1250px) {
  .container {
    max-width: 970px;
  }
}
.header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
  z-index: 2;
}
.header .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding: 0 80px;
}
.header .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .navigation-list .link {
  font-size: 16px;
  margin-right: 15px;
  color: #999999;
  opacity: 0.7;
}
.header .navigation-list .link:hover {
  padding-bottom: 9px;
  color: #3F3F3F;
  border-bottom: 2px solid #FF7539;
}

@media (max-width: 1250px) {
  .header__block {
    padding: 0px 40px;
  }
  .header__block .button {
    width: 120px;
    height: 40px;
    font-size: 15px;
  }
  .header__block .link {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header-navigation {
    display: none;
  }
}
.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 10px 0px 10px;
}

.main-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding-top: 105px;
}
.main-descr__bg-circle {
  position: absolute;
  background: #FFE3D7;
  width: 822px;
  height: 822px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  opacity: 0.5;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  z-index: -1;
  bottom: 300px;
  right: -40px;
}
.main-descr__sup-title {
  color: #4D4D4D;
  font-size: 20px;
  margin-bottom: 30px;
}
.main-descr__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 30px;
  color: #1A1A1A;
}
.main-descr__sub-title {
  color: #4D4D4D;
  margin-bottom: 60px;
}
.main-descr__button {
  background-color: #FF7539;
  border-radius: 10px;
  font-size: 24px;
  width: 252px;
  height: 72px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.main-descr__button:hover {
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-descr__icon {
  width: 26px;
  height: 24px;
  margin-right: 5px;
}
.main-descr__btn-descr {
  color: #4D4D4D;
  margin-left: 40px;
}

.main-item {
  padding: 140px 40px 100px 100px;
}
.main-item .main-image__bg {
  position: relative;
  max-width: 755px;
  max-height: 573px;
  border-radius: 0px 0px 60px 60px;
  z-index: -1;
}
.main-item .main-image::before {
  content: "";
  position: absolute;
  border: 5px solid #FF7539;
  border-radius: 20px;
  width: 755px;
  height: 573px;
  border-radius: 20px;
  z-index: 0;
  margin-left: 49px;
  margin-top: -20px;
}

@media (max-width: 1250px) {
  .main-descr {
    padding: 35px 35px 0px 35px;
  }
  .main-descr__sup-title {
    font-size: 20px;
  }
  .main-descr__title {
    font-size: 17px;
    line-height: 23px;
    width: 300px;
  }
  .main-descr__bg-circle {
    width: 273px;
    height: 568px;
    bottom: 185px;
    right: 135px;
  }
  .main-descr__button {
    font-size: 18px;
    width: 135px;
    height: 40px;
  }
  .main-descr__btn-descr {
    margin-left: 21px;
  }
  .main-item {
    padding: 110px 30px 86px 0px;
  }
  .main-item .main-image::before {
    border: 3px solid #FF7539;
    border-radius: 20px;
    width: 340px;
    height: 262px;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 0px;
  }
  .main-item .main-image__bg {
    max-width: 356px;
    border-radius: 0px 0px 20px 20px;
  }
}
@media (max-width: 767px) {
  .main-item {
    padding: 110px 30px 86px 0px;
  }
  .main-item .main-image::before {
    border: 3px solid #FF7539;
    border-radius: 20px;
    width: 338px;
    height: 256px;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 0px;
  }
  .main-item .main-image__bg {
    max-width: 351px;
    border-radius: 0px 0px 20px 20px;
  }
}
@media (max-width: 576px) {
  .main-item {
    display: none;
  }
  .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .main-descr__bg-circle {
    position: absolute;
    background: #FFE3D7;
    width: 562px;
    height: 662px;
    bottom: 165px;
    right: 0px;
  }
  .main-descr__sup-title {
    color: #4D4D4D;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .main-descr__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
    color: #1A1A1A;
  }
  .main-descr__sub-title {
    color: #4D4D4D;
    margin-bottom: 60px;
  }
  .main-descr__button {
    background-color: #FF7539;
    border-radius: 10px;
    font-size: 24px;
    width: 150px;
    height: 40px;
    margin: 0px 0px 30px 25.4%;
  }
  .main-descr__button:hover {
    border: 1px solid #000000;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .main-descr__icon {
    width: 26px;
    height: 32px;
    margin-right: 5px;
  }
  .main-descr__btn-descr {
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .main-descr {
    padding: 37px 24px 0px 35px;
  }
}
.comments {
  width: 100%;
  text-align: center;
  background-color: #FFE3D7;
  padding: 100px 0px 200px 0px;
}
.comments__sup-title {
  font-size: 20px;
  font-weight: 700;
  color: #FF7539;
}
.comments__title {
  font-size: 26px;
  font-weight: 700;
  color: #1A1A1A;
  text-align: center;
  margin: 52px 0px;
}

.swiper .swiper-slide {
  position: relative;
  background-color: #FFFFFF;
  padding: 50px;
}
.swiper .swiper-slide__image {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 80px;
  left: 50px;
  top: 30px;
}
.swiper .swiper-slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 0px 150px;
}
.swiper .swiper-slide__title {
  font-size: 26px;
  display: inline;
  margin-bottom: 10px;
}
.swiper .swiper-slide__sup__title {
  font-size: 16px;
  display: inline;
  color: #4D4D4D;
}
.swiper .swiper-slide__description {
  text-align: left;
  margin-top: 50px;
  width: 435px;
  height: 164px;
  font-size: 20px;
  color: #1A1A1A;
  overflow-x: hidden;
}
.swiper .swiper-slide .swiper-slide__rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
}
.swiper .swiper-slide .swiper-slide__rating::before {
  content: "★★★★★";
  display: block;
  color: #FF9465;
}

.production {
  width: 100%;
  text-align: center;
  padding: 88px 0px;
}
.production__sup-title {
  font-size: 20px;
  font-weight: 700;
  color: #FF7539;
}
.production__title {
  font-size: 26px;
  font-weight: 700;
  color: #1A1A1A;
  text-align: center;
  padding: 20px 0;
}
.production__sub-title {
  font-size: 16px;
}
.production .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.production .card {
  font-size: 20px;
  border: 3px solid #FF9465;
  border-radius: 20px;
  margin: 50px 10px 10px 10px;
  padding: 10px;
}
.production .card__image {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
.production .card:hover {
  border: 3px solid #FF9465;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
.production .card .content {
  margin: 10px 0px;
  padding: 10px;
}
.production .card .content .details {
  width: 200px;
  height: 100px;
}
.production .card .content .details__title {
  font-weight: 600;
  font-size: 26px;
}
.production .card .content .details__sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 1em;
}
.production .card .content .prod-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.production .card .content .prod-size .prod-element__size-value {
  padding: 3px;
  font-size: 16px;
  border: 2px solid #f79f08;
  cursor: pointer;
  -webkit-transition: background 5s;
  transition: background 5s;
}
.production .card .content .prod-size .prod-element__size-value:hover {
  border: 2px solid #f76808;
}
.production .card .content .prod-size .prod-element__size-value:active {
  background-color: rgba(213, 15, 15, 0.5647058824);
  border: 2px solid #d50f0f;
  -webkit-transition: background 0s;
  transition: background 0s;
}
.production .card .prod-quantity {
  margin: 10px 0;
}
.production .card .price {
  padding: 15px 0;
  font-size: 26px;
  font-weight: 900;
  color: #f79f08;
}
.production .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0px;
  padding: 5px;
}
.production .card .buttons .button-click {
  padding: 5px;
  background-color: #FFFFFF;
}
.production .card .buttons .button-click:hover {
  background-color: #FF9465;
  border-radius: 5px;
}
.production .card .buttons .button-basket {
  width: 140px;
  height: 40px;
  background-color: #FF9465;
  border-radius: 5px;
}
.production .card .buttons .button-basket:hover {
  background-color: #ff7a65;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
  padding: 50px 0;
  text-align: center;
}
.about__sup-title {
  font-size: 20px;
  font-weight: 700;
  color: #FF7539;
}
.about__title {
  margin: 20px 0px;
  font-size: 26px;
  font-weight: 700;
  color: #1A1A1A;
  text-align: center;
}
.about__sub-title {
  font-size: 16px;
}
.about__furr {
  color: #000000;
  font-weight: 900;
  font-size: 20px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 0px;
}
.item__content {
  padding: 10px;
}
.item__image {
  width: 250px;
  border-radius: 7px;
}
.item__title {
  font-size: 20px;
  padding: 20px 0px;
  text-align: start;
  color: #3F3F3F;
}
.item__text {
  width: 250px;
  height: 250px;
  text-align: start;
  line-height: 22px;
}

.gallery {
  padding: 50px 0;
}
.gallery__title {
  font-size: 26px;
  font-weight: 700;
  color: #1A1A1A;
  text-align: center;
}

.swiper-gallery {
  margin: 50px 0;
}
.swiper-gallery .item-gallery {
  margin-bottom: 50px;
  background-color: #FFE3D7;
}
.swiper-gallery .item-gallery__slider {
  padding: 10px;
  height: 500px;
  overflow: hidden;
}
.swiper-gallery .item-gallery__image {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper-gallery .swiper-button-prev::after,
.swiper-gallery .swiper-button-next::after {
  color: #FF7539;
}
.swiper-gallery .swiper-pagination {
  bottom: 0;
}
.swiper-gallery .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #FF9465;
}

@media (max-width: 1250px) {
  .gallery {
    margin-bottom: 190px;
  }
}
.footer {
  background-color: #FF9465;
  padding: 50px 0;
}
.footer__title {
  font-size: 26px;
  font-weight: 700;
  color: #1A1A1A;
  text-align: center;
}
.footer .footer-map {
  text-align: center;
  padding: 50px;
}
.footer .footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.footer .footer-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer-block__logo {
  width: 100px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.footer .footer-block__text {
  margin-bottom: 5px;
}
.footer .footer-block .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-block .footer-icon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer .footer-block .footer-icon__phone,
.footer .footer-block .footer-icon a {
  color: #1A1A1A;
  font-weight: 900;
  font-size: 20px;
  margin-top: 20px;
}
.footer .feedback__form,
.footer .feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .feedback__title {
  font-size: 20px;
}
.footer .feedback__input,
.footer .feedback input {
  color: #1A1A1A;
  font-size: 20px;
  margin: 35px 20px;
  padding: 10px 5px;
  background-color: #FF7539;
  border-radius: 5px;
}
.footer .feedback__input::-webkit-input-placeholder, .footer .feedback input::-webkit-input-placeholder {
  color: #1A1A1A;
}
.footer .feedback__input::-moz-placeholder, .footer .feedback input::-moz-placeholder {
  color: #1A1A1A;
}
.footer .feedback__input:-ms-input-placeholder, .footer .feedback input:-ms-input-placeholder {
  color: #1A1A1A;
}
.footer .feedback__input::-ms-input-placeholder, .footer .feedback input::-ms-input-placeholder {
  color: #1A1A1A;
}
.footer .feedback__input::placeholder,
.footer .feedback input::placeholder {
  color: #1A1A1A;
}

@media (max-width: 1250px) {
  .footer {
    padding: 100px 20px 20px 20px;
    margin-top: 0px;
  }
}
@media (max-width: 576px) {
  .feedback {
    padding: 100px 30px 30px 20px;
  }
  .feedback__form,
.feedback form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}